*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    justify-content: space-around;
}
h1{
    font-size: 65px;
    font-weight: bolder;
} 
p{
    font-size: 20px;
}
.buttons{
    height: 40px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.buttons>button{
    height: 100%;
    width: 120px;
    border: none;
    outline: none;
}
.first{
    background-color: red;
    color: white;
    border-radius: 4px;
    font-size: 20px;
}
.second{
    color: black;
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
}
.paragraph{
    margin-top: 20px;
    font-size: 15px;

}
.icon{
    height: 40px;
}
.icon>img{
    height: 40px;
    border-radius: 10px;
    margin-left: 10px;
    width: 40px;

}