.subheader{
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(105, 21, 222);
}
/* .blank{
  height: 50px;
  width: 100%;
} */

.subheader>Menu{
  /* margin-left: 20px; */
  font-size: 10px;
}